.container {
  max-width: 1170px;
  margin: 0px auto;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  float: left;
  width: 15%;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  color: grey;
}

.header-nav-list li {
  margin-right: 50px;
  margin-top: 30px;
  font-weight: bold;
}

.top {
  background-image: url(../img/firstview.jpg);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: right;
  padding: 50px 0 200px 0;
  margin: 30px 0;
}

.main-absolute {
  font-size: 60px;
  line-height: -30px;
  font-family: "Indie Flower", cursive;
  color: #c71585;
  margin: 50px 0 60px 80px;
}

.main-absolute_a {
  font-size: 30px;
  font-weight: bold;
  color: #c71585;
  margin: 40px 0 15px 80px;
}

.emphasis {
  color: #00bfff;
}

.main-absolute_b {
  color: gray;
  font-size: 14px;
  margin: 0 0 15px 80px;
}

.news {
  padding: 300px 0;
  background: white;
}

.kodashi {
  font-family: "Indie Flower", cursive;
  color: #c71585;
  font: size 14px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.inner {
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  padding: 65px 0 100px;
}

.sub_ttl {
  font-size: 30px;
  margin-bottom: 40px;
  margin-left: 30px;
  color: gray;
}

.news_list {
  list-style: none;
}

.news_list_item {
  padding: 25px 0;
  border-top: 1px solid #e6e6e6;
}
.news_list_item a {
  position: relative;
  display: flex;
  text-decoration: none;
  color: gray;
}

.news_list_date {
  font-size: 15px;
  display: flex;
  margin-right: 56px;
}

.news_item {
  background: #c71585;
  border-radius: 14px;
  width: 8em;
  padding: 10px;
  text-align: center;
  margin-left: 56px;
  color: #fff;
  font-weight: bold;
}

.about {
  background: #dcdcdc;
  height: 450px;
  margin-bottom: 100px;
}

.about-sub,
.about-sub-ttl {
  text-align: center;
  margin: auto 0;
  padding-bottom: 5px;
}

.about-sub {
  font-family: "Indie Flower", cursive;
  color: #c71585;
  padding-top: 30px;
  font-size: 14px;
}

.about-sub-ttl {
  color: #696969;
  font-size: 30px;
  margin-bottom: 20px;
}

.about-main {
  float: left;
  color: #696969;
  line-height: -5px;
  font-size: 16px;
  margin-left: 50px;
  margin-right: 25px;
}

.about-img img {
  object-fit: cover;
  width: 600px;
  height: 300px;
  float: right;
  margin-right: 50px;
  margin-left: 50px;
}

.service {
  padding-top: 100px 0;
  background: white;
  margin-bottom: 50px;
}

.service-sub {
  font-family: "Indie Flower", cursive;
  color: #c71585;
  padding-top: 30px;
  font-size: 14px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.service-sub-ttl {
  color: #696969;
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.service-container {
  display: grid;
  grid-template-rows: 250px 250px;
  grid-template-columns: 2fr 2fr;
}

.service-container-item-a {
  grid-column: 1/2;
  grid-row: 1/3;
  background: #ff1493;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.service-container-item-a h3 {
  margin: 20px;
}

.service-text_a {
  text-align: center;
  margin: 30px;
}

.service-container-item-a img {
  width: 45%;
  margin-top: 40px;
}

.service-container-item-b {
  grid-column: 2/3;
  grid-row: 1/2;
  background: #ff69b4;
  color: white;
  padding-right: 50px;
}

.service-container-item-c {
  grid-column: 2/3;
  grid-row: 2/3;
  background: #db7093;
  color: white;
  padding-right: 50px;
}

.service-container-item-b img,
.service-container-item-c img {
  width: 40%;
  float: left;
  margin-right: 15px;
  margin-top: 5px;
}

.service-text {
  float: left;
  line-height: 30px;
  font-size: 15px;
}

.service-container-item-b h3,
.service-container-item-c h3 {
  padding-top: 30px;
  padding-bottom: 30px;
}




.blog {
  margin-top: 500px;
  margin-bottom: 100px;
  background:#dcdcdc;
  padding-bottom: 50px;
}

.blog-container {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 30%;
  margin: 50px auto 0;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  background: white;
  position: relative;
  border-radius: 10px;
}

.card__img img {
  width: 100%;
  display: inline-block;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card__content {

  padding: 15px 25px;
}

.card__content-ttl {
  font-size: 18px;
  font-weight: 400;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.card__content-cat {
  position: absolute;
  padding: 10px 20px;
  background: #c71585;
  margin-bottom: 15px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  border-top-left-radius: 10px;
}

.card__content-tag {
  font-size: 14px;
  text-align: right;
  display: flex;
  justify-content: space-around;
}

.card__content-tag-item {
  display: inline-block;
  color: #888888;
}

.card__content-tag-item--last {
  display: inline-block;
  color: #888888;
}

.blog-sub {
  font-family: 'Indie Flower', cursive;
  color: #c71585;
  padding-top: 30px;
  font-size: 14px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.blog-sub-ttl {
  color: #696969;
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.blog__btn {
  width: 200px;
  padding: 10px 0;
  color:#c71585;
  border-radius: 40px;
  border: 1px solid #c71585;
  background: white;
  text-align: center;
  margin:100px auto 0;
  display:block;
}

.card__contant {
  height: 110px;
}

.company-sub {
  font-family: 'Indie Flower', cursive;
  color: #c71585;
  padding-top: 30px;
  font-size: 14px;
  margin-left: 170px;
  margin-bottom: 10px;
}

.company {
  margin: 50px;
}

.company-ttl {
  color: #696969;
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 170px;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin-left: 170px;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
  color: #696969;
}
table th {
  font-weight: bold;
  background-color: #dedede;
}


.anything {
  margin: 90px 0;

}

.information {
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 2fr 2fr;

}

.recruit {
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
} 
.interview {
  grid-column: 2/3;
  grid-row: 1/2;
  position: relative;
}

.recruit p, .interview p {
  position: absolute;
  color: white;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.recruit img, .interview img {
  width: 100%;
}

.last-ttl {
  color: #696969;
  text-align: center;
  font-weight: bold;
}

.last {
  margin-top: 50px;
  margin-bottom: 80px;
  position: relative;
  height: 200px;
}

.bou {
  border-left: 2px solid #c71585;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0px 20px 20px 20px;
  padding: 0px 20px 20px 20px;
}

.last__btn {
  position: relative;
  background: linear-gradient(90deg, #ff2b95,  #d5006a);
  width: 200px;
  display: block;
  padding: 18px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  border-bottom: 10px solid #d5006a;
  margin: 150px auto;
}

.last__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translate(0, -50%);
}

footer {
  width: 100%;
  background-color: #C0C0C0;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}









